body {
  padding-bottom: 40px;
  padding-right: 150px;
}
.messages td.nick {
  width: 100px;
  padding: 0;
  background: #eee;
  border-bottom: 1px solid #333;
}
.messages td.body {
  position: relative;
  border-bottom: 1px solid #eee;
  padding: 5px 10px;
}
.messages td {
  vertical-align: top;
}
.chatvatar {
  width: 150px;
  height: auto;
  margin: 0;
  display: block;
}
.messages tr.disconnected .chatvatar {
  -webkit-filter: grayscale(100%);
}
.messages {
  width: 100%;
}
#join-dialog {
  width: 300px;
  background: #eee;
  border: 1px solid #ccc;
  margin: 100px auto 0 auto;
  padding: 10px;
}
#join-dialog input[type="text"] {
  width: 300px;
}
#input-wrap {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 150px;
  padding: 2px;
  background: #eee;
  border-top: 1px solid #ccc;
}
#input-wrap,
.channel h2 {
  z-index: 9;
}
.channel {
  display: none;
}
.channel.active {
  display: block;
}
#right-gutter {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 150px;
  padding: 10px;
  border-left: 1px solid #bbb;
  background: #eee;
}
#self-stream {
  width: 150px;
  height: 84px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  -webkit-filter: grayscale(100%);
}

.messages tr:not(.event) + tr.event td {
  border-top: 1px solid #fff;
}

.messages tr.event td {
  padding: 5px 10px;
  background: #CFEAFF;
  font-size: 12px;
  color: #333;
  border-bottom: 1px solid #fff;
}
#nav {
  margin-top: 10px;
  padding-bottom: 94px;
}
#nav > li > a {
  padding: 3px 10px;
}
