body {
  margin: 0;
  padding: 0;
}
#mobile-nav {
  display: none;
}
#channels {
  -webkit-overflow-scrolling: touch;
  position: absolute;
  overflow: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 150px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background: #efefef;
}
.messages li {
  position: relative;
  border: 1px solid #eee;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.25);
  padding: 8px;
  float: left;
  text-align: center;
  width: 218px;
  height: 218px;
  overflow: auto;
  background: #fff;
}
.messages li.slider {
  background: none;
  box-shadow: none;
  border: none;
  width: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: 1s width;
  -moz-transition: 1s width;
  -ms-transition: 1s width;
  -o-transition: 1s width;
  transition: 1s width;
}
.messages li.self {
  background-color: #FFFCF0;
}
.messages .form-control {
  margin-top: 12px;
}
.messages img {
  width: 300px;
  height: auto;
  margin: 0;
  display: block;
  cursor: pointer;
  margin-bottom: 5px;
}
.messages li.disconnected img {
  -webkit-filter: grayscale(100%);
}
.messages {
  width: 100%;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
#join-dialog {
  width: 300px;
  background: #eee;
  border: 1px solid #ccc;
  margin: 100px auto 0 auto;
  padding: 10px;
}
#join-dialog input[type="text"] {
  width: 300px;
}
.channel h2 {
  z-index: 9;
}
.channel {
  display: none;
  border-top: 1px solid #fff;
}
.channel.active {
  display: block;
}
#right-gutter {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 150px;
  padding: 10px;
  border-left: 1px solid #bbb;
  background: #eee;
}
li.event {
  clear: both;
  float: none;
  width: auto;
  background: none;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
  height: 13px;
  overflow: visible;
  padding: 0;
}
li.event span {
  background: #eee;
  color: #bbb;
  font-size: 12px;
  padding: 0 3px;
}
#nav {
  margin-top: 10px;
}
#nav > li > a {
  padding: 3px 10px;
}
#nav li button.close {
  background: transparent;
  border: none;
  padding: 0;
  line-height: 16px;
  float: right;
  font-weight: bold;
  color: #fff;
  opacity: 0;
}
#nav li:hover button.close {
  opacity: 0.8;
}
#recorder {
  display: none;
  width: 492px;
  z-index: 999;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -246px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  padding: 5px;
}
#recorder video {
  width: 480px;
}
li.input progress {
  height: 2px;
  display: block;
  border: none;
  background: transparent;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #ccc;
}
li.input progress.on {
  color: red;
}
li.input progress.on::-webkit-progress-value {
  background: red;
}
li.input progress::-webkit-progress-value {
  background: #ccc;
}
li.input progress::-webkit-progress-bar {
  background: transparent;
}
#recorder span.countdown {
  position: absolute;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 256px;
  color: rgba(255,255,255,0.75);
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
li.input {
  background-color: transparent;
  box-shadow: none;
}
li.input div.placeholder {
  background-image: none;
}
div.placeholder {
  position: relative;
  min-height: 149px;
  background-color: #eee;
  background-position: center center;
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
}

@media (max-width: 568px) {
  #channels {
    top: 45px;
    right: 0px;
    left: 0px;
    overflow: auto;
  }
  #right-gutter {
    right: -150px;
    width: 150px;
    z-index: 999;
    display: none;
  }
  #right-gutter.visible {
    display: block;
  }
  #mobile-nav {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 45px;
    text-align: center;
    background: #333;
    z-index:999;
  }
  #mobile-menu {
    font-size: 32px;
    line-height: 32px;
    color: #eee;
    position: absolute;
    right: 4px;
    top: 4px;
    padding: 2px 8px;
    border-radius: 4px;
    background: #000;
    cursor: pointer;
  }
  #channel-title {
    color: #fff;
    font-size: 32px;
  }

  body {
    padding-right: 0;
  }

  body > a {
    display: none;
  }
}
