body {
  padding-bottom: 40px;
  padding-right: 150px;
}
#channels {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.messages td.nick {
  width: 100px;
  padding: 0;
  background: #eee;
  border-bottom: 1px solid #eee;
  position: relative;
}
.messages td.body {
  position: relative;
  border-bottom: 1px solid #eee;
  padding: 5px 8px;
}
.messages td {
  vertical-align: top;
}
.messages td.nick img {
  width: 150px;
  height: auto;
  margin: 0;
  display: block;
  cursor: pointer;
}
.messages tr.disconnected td.nick img {
  -webkit-filter: grayscale(100%);
}
.messages {
  width: 100%;
}
#join-dialog {
  width: 300px;
  background: #eee;
  border: 1px solid #ccc;
  margin: 100px auto 0 auto;
  padding: 10px;
}
#join-dialog input[type="text"] {
  width: 300px;
}
#input-wrap {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 150px;
  padding: 2px;
  background: #eee;
  border-top: 1px solid #ccc;
}
#input-wrap,
.channel h2 {
  z-index: 9;
}
.channel {
  display: none;
  border-top: 1px solid #fff;
}
.channel.active {
  display: block;
}
#right-gutter {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 150px;
  padding: 10px;
  border-left: 1px solid #bbb;
  background: #eee;
}

.messages tr:not(.event) + tr.event td {
  border-top: 1px solid #fff;
}

.messages tr.event td {
  padding: 5px 10px;
  background: #CFEAFF;
  font-size: 12px;
  color: #333;
  border-bottom: 1px solid #fff;
}
#nav {
  margin-top: 10px;
}
#nav > li > a {
  padding: 3px 10px;
}
#nav li button.close {
  background: transparent;
  border: none;
  padding: 0;
  line-height: 16px;
  float: right;
  font-weight: bold;
  color: #fff;
  opacity: 0;
}
#nav li:hover button.close {
  opacity: 0.8;
}
#recorder {
  display: none;
  width: 492px;
  z-index: 999;
  position: fixed;
  top: 30px;
  left: 50%;
  margin-left: -246px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  padding: 5px;
}
#recorder video {
  width: 480px;
}
#recorder progress {
  height: 8px;
  display: block;
  border: none;
  background: #999;
  color: red;
  width: 480px;
}
#recorder progress.down {
  color: #999;
}
#recorder progress.down::-webkit-progress-value {
  background: #999;
}
#recorder progress::-webkit-progress-value {
  background: red;
}
#recorder progress::-webkit-progress-bar {
  background: #eee;
}
#recorder span.countdown {
  position: absolute;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 256px;
  color: rgba(255,255,255,0.75);
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
#recorder span.flash {
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
}
#recorder span.flash.on {
  display: block;
}
#overlay {
  display: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 99;
  background: rgba(0,0,0,0.5);
}
div.placeholder {
  background-position: center center;
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
}
